<p id="notice"><%= notice %></p>

<%= @product.inspect %>
<%if @product.image %>
<%= image_tag @product.image.url %></td>
   <% else %>
    <p>No image </p>
         <% end %>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<% if @product.category %>
  <strong>Category:</strong>
  <%= @product.category.name %>
  <% else %>
  Not yet created.
<% end %>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
