<!DOCTYPE html>
<html>
	<head>
	  <title>MyShop</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>
		<%= render 'shared/navbar' %>


		<%= link_to "New Categories", new_category_path %>
		<%= link_to "Show All Categories", categories_path %>
		<%= link_to "New Product", new_product_path %>
		<%= link_to "Show All Products", products_path %>

	<div class="container">
		<%= yield %>
	</div>
	

	</body>
</html>
